.navA {font-size: 30px;}
.navABox {width: auto;
		height: auto;
		border: 2px solid black;
		background-color: #DDDDDD;
		margin: 5px 5px 5px 5px;
		padding: 5px 10px 5px 10px}
.NavContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;}
header {
	display: flex;
	gap: 30px 20px;
	flex-direction: row;
}